
DockerForm/bin/
DockerForm/obj/
DockerForm/v16/
.vs/DockerForm/v16/.suo
.vs/DockerForm/v16/Server/sqlite3/storage.ide
.vs/DockerForm/v16/Server/sqlite3/storage.ide-wal
.vs/DockerForm/v16/Server/sqlite3/storage.ide-shm
.vs/DockerForm/v16/Server/sqlite3/storage.ide
.vs/DockerForm/v16/.suo
