<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DockerForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.4.0" newVersion="106.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DockerForm.Properties.Settings>
      <setting name="MinimizeOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeOnClosing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BootOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ImageWidth" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="MonitorProcesses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IGDBListLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ToastNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveOnExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Blacklist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Microsoft.FlightDashboard</string>
            <string>Microsoft.GamingServices</string>
            <string>Microsoft.MicrosoftStickyNotes</string>
            <string>Microsoft.ScreenSketch</string>
            <string>Microsoft.StorePurchaseApp</string>
            <string>Microsoft.WindowsCalculator</string>
            <string>Microsoft.WindowsFeedbackHub</string>
            <string>Microsoft.WindowsStore</string>
            <string>Microsoft.XboxApp</string>
            <string>Microsoft.XboxDevices</string>
            <string>Microsoft.XboxIdentityProvider</string>
            <string>Microsoft.XboxSpeechToTextOverlay</string>
            <string>Microsoft.YourPhone</string>
            <string>Microsoft.BingNews</string>
            <string>Microsoft.BingWeather</string>
            <string>Microsoft.DesktopAppInstaller</string>
            <string>Xbox</string>
            <string>Microsoft.GetHelp</string>
            <string>Microsoft.Getstarted</string>
            <string>Microsoft.Messaging</string>
            <string>Microsoft.Microsoft3DViewer</string>
            <string>Office</string>
            <string>Microsoft Solitaire Collection</string>
            <string>Microsoft.MixedReality.Portal</string>
            <string>Microsoft.MSPaint</string>
            <string>OneNote for Windows 10</string>
            <string>Microsoft.OneConnect</string>
            <string>Microsoft.People</string>
            <string>Microsoft.Photos.MediaEngineDLC</string>
            <string>Print 3D</string>
            <string>Skype</string>
            <string>Microsoft.Windows.Photos</string>
            <string>Microsoft.WindowsAlarms</string>
            <string>Microsoft.WindowsCamera</string>
            <string>microsoft.windowscommunicationsapps</string>
            <string>Microsoft.WindowsMaps</string>
            <string>Microsoft.WindowsSoundRecorder</string>
            <string>Xbox TCUI</string>
            <string>Xbox Game Bar Plugin</string>
            <string>Xbox Game Bar</string>
            <string>Microsoft.ZuneMusic</string>
            <string>Microsoft.ZuneVideo</string>
            <string>AppUp.IntelGraphicsExperience</string>
            <string>AppUp.ThunderboltControlCenter</string>
            <string>Cortana</string>
            <string>Microsoft.AV1VideoExtension</string>
            <string>Microsoft.Office.Excel</string>
            <string>Microsoft.Office.PowerPoint</string>
            <string>Microsoft.Office.Word</string>
            <string>Microsoft Whiteboard</string>
            <string>NVIDIA Control Panel</string>
            <string>Realtek Audio Control</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MonitorThreadRefresh" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="MonitorProfiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>940</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>630</value>
      </setting>
      <setting name="ColumnNameWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ColumnDevWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ColumnVersionWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ColumnPlayedWidth" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="MainWindowX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColumnSettingsWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MonitorHardware" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GameListStyle" serializeAs="String">
        <value>Tile</value>
      </setting>
      <setting name="SmallImageHeight" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="SmallImageWidth" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="SpeechSynthesizer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlaySound" serializeAs="String">
        <value>False</value>
      </setting>
    </DockerForm.Properties.Settings>
  </userSettings>
</configuration>